:root {
  --Navy: #001831;
}
.signin  .container {
  color: var(--Navy);
  width: 300px;
  min-height: 50%;
  max-height: fit-content;
  padding: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 50px;
  background-color: #e0e0e0;
  position: absolute;
  right: 20%;
  top: 19%;
}


.signin .SIform-group {
  margin-bottom: 15px;
  border: var(--Navy) solid 2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  border-radius: 7px;
  position: relative;
}

.signin  .show-password-icon {
  position: absolute;
  right: 20px;
  top: 25px;
  cursor: pointer;
}

.signin .button {
  width: 60%;
  padding: 12px;
  margin-top: 10px;
  background-color: var(--Navy);
  border-radius: 40px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.signin .input{
  background-color: #e0e0e0;
  border: 0px solid;
  border-color: transparent;
  height: 20px;
  width: 80%;
  color: #001831;
  padding: 5px;
  margin-bottom: 0;
  margin: 5px;
}

.signin button:hover {
  background-color: #4c00ff;
}

.signin .error-message{
  color: red ;
  width: 80%; 
  font-size: 12px;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 0;
}

.signin .error {
  border-color: red; /* Change border color to red when there's an error */
}